<!DOCTYPE html>
<html>
  <head>
    <title>HomebrewingForBeginners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="top-bar navbar">
      <section class="top-bar-left">
        <img
          class="beer-logo"
          src="https://cdn.iconscout.com/icon/free/png-512/beer-mug-glass-drink-cocktail-emoj-symbol-babr-30679.png"
          alt="New Brewer on the Block logo"
          height="100"
          width="100"
        />
        <h1><a href="/">New Brewer on the Block</a></h1>
      </section>

      <section class="top-bar-right">
        <ul class="link-section">
          <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </section>
    </nav>

    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%> <%= yield %> <%= javascript_include_tag 'application' %> <%- if
    Rails.env.development? || Rails.env.test? -%> <%= javascript_tag do %> window.railsEnv = '<%=
    Rails.env %>' <%- end -%> <%- end -%> <%= javascript_pack_tag 'application' %>
  </body>
</html>
